@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

body {
  max-width: 40rem;
  margin: auto;
  line-height: 1.6rem;
  padding: 5px;
  font-family: 'PT Serif', Arial, Helvetica, sans-serif;
}

p {text-align: justify}

h1, h2, h3 {
  line-height: normal;
  font-family: 'PT Sans';
}

a {
  text-decoration: none;
  color: rgb(90, 168, 200);
}

a:hover {border-bottom: 2px solid rgb(90, 168, 200)}

hr {border: 1px solid black}
