@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
  font-family: 'Computer Modern';
  src: url('./fonts/LatinModernMath-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('./fonts/cmunti-webfont.woff') format('woff');
  font-weight: normal;
  font-style: oblique;
}

$background: white;
$textColor: #444;
$accent: rgb(90, 168, 200);
$selectionColor: rgba(255, 217, 0, 0.7);

$codeColor: rgb(167, 35, 57);
$codeBackground: rgb(243, 229, 231);
$commentColor: grey;
$stringColor: rgb(15, 170, 15);
$numberColor: rgb(47, 143, 150);
$objectColor: goldenrod;

::selection {background-color: $selectionColor}

body {
  font-family: 'Computer Modern', serif;
  padding: 5px;
  color: $textColor;
  background-color: $background;
}

// headers

#home{
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

#home a {color: $textColor}
#home a:hover {border-bottom: none}

header a:hover {
  border-bottom: none;
  color: $accent;
}

header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border-bottom: 1px solid $textColor;
}

#gap {min-width: 15px}

// links

a {
  text-decoration: none;
  color: $accent;
  &:hover {
    color: $textColor;
    border-bottom: 1px solid $accent;
  }
}

// code

code, pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 13px;
}

code {
  background-color: $codeBackground;
  padding: 2px;
  border-radius: 3px;
}

pre {
  line-height: 1.3rem;
  overflow: scroll;
  padding-left: 1rem;
  border-left: 6px solid $codeBackground;
}

.function, code {color: $codeColor}
.keyword {color: $accent}
.comment {color: $commentColor}
.string {color: $stringColor}
.number {color: $numberColor}
.object {color: $objectColor;}

// other

hr {border: .5px solid $textColor}

img {
  display: block;
  margin: auto;
}

h4 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
