@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
  font-family: 'Computer Modern';
  src: url('./fonts/LatinModernMath-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('./fonts/cmunti-webfont.woff') format('woff');
  font-weight: normal;
  font-style: oblique;
}

$accent: rgb(90, 168, 200);
$codeColor: rgb(167, 35, 57);
$codeBackground: rgb(243, 229, 231);

body {
  line-height: 1.5em;
  font-family: 'Computer Modern';
  max-width: 40rem;
  margin: auto;
  padding: 5px;
  color: #444;
}

h1 {text-align: center}

a {
  text-decoration: none;
  color: $accent;
  &:hover {
    color: #444;
    border-bottom: 1px solid $accent;
  }
}

.post {
  display: grid;
  grid-template-columns: 9rem 1fr 9rem;
  border-bottom: 1px solid #444;
}

.day {grid-column: 1}
.title {grid-column: 2}
.day, .title {margin: 0}
.subject {
  grid-column: 3;
  text-align: right;
}

code {
  background-color: $codeBackground;
  padding: 2px;
  border-radius: 3px;
  font-family: 'Source Code Pro';
  font-size: 13px;
}

pre {
  line-height: 1.3rem;
  overflow: scroll;
  padding-left: 1rem;
  border-left: 6px solid $codeBackground;
}

pre > code {
  background-color: white;
  color: #444;
}

.function, code {color: $codeColor}
.keyword {color: $accent}
.comment {color: grey}
