@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

body {
  max-width: 40rem;
  margin: auto;
  font-family: 'EB Garamond';
  text-align: justify;
  padding: 5px;
}

p {color: #444}

hr {border: 1px solid #444}
