article {
  margin: auto;
  display: grid;
  grid-template-columns: .5fr 40rem 1fr;
}

* {grid-column: 2}

h1 {font-size: 2em}

p, ul, ol {
  margin-block-start: .5rem;
  margin-block-end: .5rem;
  line-height: 1.5rem;
}

hr {width: 100%}

aside {
  font-size: smaller;
  max-width: 12rem;
  grid-column: 3;
  color: grey;
  margin: auto;
  padding: 4px;
  line-height: 1.3rem;
  font-style: italic;
}

aside cite {
  font-style: normal;
}

aside code {
  font-size: smaller;
  font-style: normal;
}

@media(max-width: 70rem) {
  article {grid-template-columns: 1fr 5fr 1fr}

  aside {
    grid-column: 2;
    max-width: 100%;
    padding: 4px 0;
    margin: 0;
  }

  @media(max-width: 50rem) {
    article {grid-template-columns: 0 1fr 0}
  }
}

blockquote {
  font-size: smaller;
  border-left: 6px solid #eee;
  padding-left: 6px;
}
