@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
  font-family: 'Computer Modern';
  src: url('../../fonts/LatinModernMath-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('../../fonts/cmunti-webfont.woff') format('woff');
  font-weight: normal;
  font-style: oblique;
}

body {
  max-width: 40rem;
  margin: auto;
  font-family: 'Computer Modern';
  padding: 5px;
  color: #444;
}

#home{
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

#home a {color: #444}
#home a:hover {border-bottom: none}

header a:hover {
  border-bottom: none;
  color: rgb(90, 168, 200)
}

header {
  max-width: 40rem;
  margin: auto;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#gap {min-width: 15px}

p {
  line-height: 1.4rem;
  text-align: justify;
}

hr {border: .5px solid #444}

blockquote, aside {font-size: smaller}

aside, h1 {text-align: center}

aside::before {content: '~ ';}

img {
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
  color: rgb(90, 168, 200);
}

a:hover {
  color: #444;
  border-bottom: 1px solid rgb(90, 168, 200);
}
