@font-face {
  font-family: 'Computer Modern';
  src: url('LatinModernMath-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('cmunti-webfont.woff') format('woff');
  font-weight: normal;
  font-style: oblique;
}

body {
  max-width: 40rem;
  margin: auto;
  font-family: 'Computer Modern';
  line-height: 1.5rem;
  padding: 5px;
}

h1 {line-height: normal}
p {text-align: justify}

img {
  display: block;
  margin: auto;
}
