@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

body {
  max-width: 40rem;
  margin: auto;
  font-family: 'Noto Serif TC';
  text-align: justify;
  background-color: rgb(250, 244, 237);
  color: rgb(36, 21, 2);
  padding: 5px;
}

blockquote, aside {
  font-size: smaller;
  color: rgb(83, 51, 9);
}

hr {border: .5px solid black}

aside, h1 {text-align: center}

aside::before {content: '~ ';}
