@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

body {
  max-width: 40rem;
  margin: auto;
  font-family: 'Noto Serif TC';
  text-align: justify;
  padding: 5px;
  font-size: 14px;
}

blockquote, aside {font-size: smaller}

hr {border: .5px solid black}

aside, h1 {text-align: center}

aside::before {content: '~ ';}
