@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {box-sizing: border-box}

body {margin: 0}

header {
  height: 100vh;
  display: block;
  display: flex;
  align-items: center;
  font-size: 32px;
  margin: 0;
  background-color: rgb(163, 206, 168);
  font-family: Arial, Helvetica, sans-serif;
}

h1 > p, article {padding: 16px}

#subheader {
  color: white;
  text-align: right;
  width: 100vw;
  font-size: 36px;
}

article {
  font-family: 'Work Sans';
  max-width: 40rem;
  margin: auto;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
  border-bottom: 2px solid rgb(163, 206, 168);
  color: black;
  padding: 0 2px;
}

a:hover {background-color: rgb(243, 250, 244)}

blockquote {
  border-left: 5px solid rgb(163, 206, 168);
  padding-left: 10px;
  font-size: 14px;
}

hr {border: 2.5px solid rgb(163, 206, 168)}
